.lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    max-height: 100vh;
}
.lightbox-container {
	position:absolute;
    margin: 5%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    max-width:100%;
    max-height:100%;
    display: none;
}
.gallery {
  position:absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 100%;
    max-width:100%;
    max-height:100%;
    padding: 4%;
    overflow-y: auto;
}

.carousel-a {
    height: 90vh !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.carousel-b {
    margin-left: auto;
    margin-right: auto;
    max-height: 90vh;
}

.closex {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 102;
  }
  .closex:hover {
    opacity: 1;
  }
  .closex:before, .closex:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
  }
  .closex:before {
    transform: rotate(45deg);
  }
  .closex:after {
    transform: rotate(-45deg);
  }
.chosen {
  color: #FABD2F !important;
  text-decoration: none !important;
}
.chosen-main {
  color: #FABD2F !important;
  text-decoration: none !important;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.blue {
  /* background-color: #041199 !important; */
  padding-top: 40px;
  padding-bottom: 35px;
  color: white !important;
}
.blue a {
  color: white;
}
a:hover {
  color: #FABD2F !important;
  text-decoration: none;
}

.white {
  color: black;
  padding-top: 20px;
}
.white mark {
  background-color: black;
  color: white;
  font-size: 10pt !important;
  font-weight: lighter;
}
