.owl-prev,
.owl-next {
  background: blue;
  opacity : 0.8;
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  display: block!IMPORTANT;
  border:0px solid black;
}

.owl-prev {
    margin-left: -20px;
    }

.owl-next {
  right: 0px;
}
.owl-prev i,
.owl-next i {
  transform : scale(1,6);
  color: #ccc;
}
